* {
    /*aca va el principal*/
    border:0px;
    
}

body{
    color:black;
    background-color: bisque;
}

p{ 
    color: darkblue; 
    font-size:12px;
    font-family:Courier;
    border:2px;
    /*border-color:blue;
    border-style:solid;*/
    width:200px; 
    height:100px;
}
.menu{
color:brown;

}
.nose{
    background-color: black;
}
footer{
    background-color: lightpink;
    color:darkviolet;
    font-size: small;
}
a:hover{
    color:darkgreen;
}
a:visited{
    color:gray;

}
a:link{
    color:blue;
}