*{
    box-sizing: border-box;
}
.videoteca-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,250px);
    gap: 10px;

}
.tarjeta-video-grid{
    background-color: aquamarine;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.menu{
    width:25%;
    float: left;
}

.main{
    width: 75%;
    float:left;
}
