<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Instrumetos de Electrónica</title>
</head>
<body>
    <h1>Lista de Instrumentos de Electrónica</h1>
    <ul>
        {% for instrumento in instrumentos %}
            <li>{{ instrumento.nro_inv}} - {{ instrumento.cod_rec }} - {{ instrumento.tipo }} - {{ instrumento.descripcion }} - {{ instrumento.marca}} - {{instrumento.modelo }} - {{ instrumento.sn }} - {{ instrumento.ab_rango }} - {{ instrumento.cod_manual }} - {{ instrumento.especificiones}} - {{instrumento.estado}} - {{instrumento.ubicacion}} - {{instrumento.adicionales}} - {{instrumento.fecha_ingreso}}</li>
        {% endfor %}
    </ul>
</body>
</html>
